<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3>New Application Submission</h3>
				<p>This applicant contact details:</p>
				<p>
					<%= "First Name: #{@registrant.first_name}" %> <br>
					<%= "Last Name: #{@registrant.last_name}" %> <br>
					<%= "Email: #{@registrant.email}" %> <br>
					<%= "Phone: #{@registrant.phone}" %>
				</p>
			</div>
			<div class="panel-body">
				<h3>Application Details of Applicant</h3>
				<ul>
					<li><%= "Reason: #{@registrant.reason}" %></li>
					<li><%= "Problem: #{@registrant.problem}" %></li>
					<li><%= "Experience: #{@registrant.experience}" %></li>
					<li><%= "Story: #{@registrant.story}" %></li>
					<li><%= "Education: #{@registrant.education}" %></li>
					<li><%= "Age: #{@registrant.age}" %></li>
					<li><%= "About: #{@registrant.about_us}" %></li>
				</ul>
			</div>
		</div>
	</body>
</html>