<div class="jumbotron humbotron">
	<div class="container justify" id="intro">
		<h2 class=" attention center">Become a Confident <br>Software Developer</h2>
		<p class="para">Is learning to program and develop the web by yourself becoming challenging? You've probably spent months going through books, tutorials and online courses, but feel all you can do is follow instructions, and don’t have the clarity and confidence to build production quality applications yourself?</p>
		
		<p class="para">It’s time to stop kidding and get serious. Like any other fields, the best way to learn software development is through a structured process, a lot of practice, and timely support when you are stuck. A well structured learning program gives you a roadmap, pushes you through bumpy roads and helps navigate you away from time sinks. You still need to work hard, but you’ll actually stay excited and enjoy the process.</p>
		
		<p class="para">Our 12 week web development immersive program guides you through a curated lessons and assignments to build real life, production ready applications over three months, with full in-person support. We will help you build your programming and web development skills from scratch, all the way to the professional level. It’s not for everyone - if you are learning programming as a hobby, our program can be too much. But if you are committed and ready to work hard, we promise a transformative learning experience that will turn you into a confident developer.</p>

		<div class="center">
			<%= link_to "Apply Now", new_registrant_path, class: "btn btn-primary btn-lg custom-btn warn" %>
			<%= link_to "Learn More", faqs_path, class: "btn btn-info btn-lg custom-btn dang" %>
		</div>
	</div>
	<br>
	<div class="container">
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
			<div class="form-horizontal">
			<%= form_for @visitor do |f| %>
				<% if @visitor.errors.any? %>
					<div id="error_explanation", class="alert alert-danger alert-dismissable">
			      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			      <h4><%= pluralize(@visitor.errors.count, "error") %> prohibited this event from being saved:</h4>
			      <ul>
					    <% @visitor.errors.full_messages.each do |msg| %>
					     	<li><%= msg %></li>
					    <% end %>
			      </ul>
			    </div>
				<% end %>
					<div class="form-group">
						<div class="col-sm-10">
							<%= f.email_field :email, :placeholder => "Enter your email", class: "form-control", autofocus: true, id: "subscribe" %>
						</div>
						<div class="col-sm-2" id="adjust-btn">
							<%= f.submit "Sign up for updates", class: "btn btn-danger btn-lg custom-btn" %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
	</div>
	</div>
</div>
<div class="container">
	<h2 class="attention center">What You Will Learn</h2>
	<p class="para">Our twelve week program covers the most important aspects of application design and development. From object-oriented programming like Ruby, web framework like Rails, to front-end technologies such as HTML5/CSS3 and Javascript.</p>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="center">Ruby on Rails</h3>
				</div>
				<div class="panel-body">
					<p>You will learn the framework that powers web apps like Twitter, Basecamp, Github, among many others.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="center">HTML5 &amp; CSS3</h3>
				</div>
				<div class="panel-body">
					<p>The fundamentals are very important – we’ll show you how to make web apps look sleek, beautiful and responsive.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="center">JavaScript &amp; jQuery</h3>
				</div>
				<div class="panel-body">
					<p>JavaScript and jQuery will enable you to build interactive web applications.</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="center">Git &amp; Heroku</h3>
				</div>
				<div class="panel-body">
					<p>What if I ruin my code and can’t figure out how to fix it? Revert back with Git, push to GitHub and deploy it live on Heroku</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="center">Agile &amp; Lean Startup</h3>
				</div>
				<div class="panel-body">
					<p>You will learn modern lean startup principles and agile methodologies used in software development.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="center">Software Design</h3>
				</div>
				<div class="panel-body">
					<p>From Model-View-Controller, we’ll show you how to properly write software that works.</p>
				</div>
			</div>
		</div>
		</div>
	</div>