<% @page_title = "Registration" %>
<div class="container">
	<div class="center">
		<h1>Coderyte</h1>
		<h3>Learn to develop, design &amp; deploy web apps.</h3>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<%= form_for @registrant do |f| %>
				<% if @registrant.errors.any? %>
					<div id="error_explanation", class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><%= pluralize(@registrant.errors.count, "error") %> prohibited this event from being saved:</h4>
            <ul>
		          <% @registrant.errors.full_messages.each do |msg| %>
		            <li><%= msg %></li>
		          <% end %>
          </ul>
          </div>
				<% end %>
				  <div class="form-group">
	          <%= f.label :reason, "Why are you applying to Coderyte?" %>
	          <%= f.text_area :reason, class: "form-control" %>
        	</div>

        	<div class="form-group">
	          <%= f.label :problem, "What is the one problem in your life that you are burning to solve? Why?" %>
	          <%= f.text_area :problem, class: "form-control" %>
        	</div>

        	<div class="form-group">
	          <%= f.label :story, "Tell us a story that exemplifies who you are." %>
	          <%= f.text_area :story, class: "form-control" %>
        	</div>

        	<div class="form-group">
	          <%= f.label :experience, "Please describe any prior programming experience, if any." %>
	          <%= f.text_area :experience, class: "form-control" %>
        	</div>

        	<hr>
        <h4>Personal Details</h4>
	        <div class="form-group">
	          <%= f.label :first_name %>
	          <%= f.text_field :first_name, class: "form-control" %>
	        </div>

	        <div class="form-group">
	          <%= f.label :last_name %>
	          <%= f.text_field :last_name, class: "form-control" %>
        	</div>

        	<div class="form-group">
	          <%= f.label :gender %>
	          <%= f.select(:gender, ["Male", "Female"], prompt: true, class: "form-control") %>
        	</div>

	        <div class="form-group">
	          <%= f.label :email %>
	          <%= f.email_field :email, class: "form-control" %>
	        </div>

	        <div class="form-group">
	          <%= f.label :phone %>
	          <%= f.text_field :phone, class: "form-control" %>
	        </div>

          <div class="form-group">
	          <%= f.label :age %>
	          <%= f.number_field :age, class: "form-control" %>
        	</div>

          <div class="form-group">
	          <%= f.label :residence, "Where do live?" %>
	          <%= f.text_field :residence, class: "form-control" %>
        	</div>

        	<div class="form-group">
	          <%= f.label :education, "Highest Education level" %>
	          <%= f.select(:education, ["Senior High School", "Bachelor", "Master", "Other"], prompt: true, class: "form-control") %>
        	</div>

        	<div class="form-group">
	          <%= f.label :about_us, "How did you hear about us?" %>
	          <%= f.text_field :about_us, class: "form-control" %>
        	</div>

        	<div class="form-group">
	          <%= f.submit "Submit Application", class: "btn btn-success btn-lg custom-btn" %>
        	</div>
			<% end %>
		</div>
		<div class="col-sm-4 well" id="fixed_col">
			<h3>Location</h3>
			<p>We are located at the premises of iSpace, Anumansa Street, Osu</p>
			<hr>
				<h3 id="contact">Contact Details</h3>
					<ul class="contact-info">
						<li class="phone"><a href="tel:+233507889476">0507889476 | 0248216079</a></li>
						<li class="mail"><a href="mailto:teamcoderyte@gmail.com">teamcoderyte@gmail.com</a></li>
						<li class="twitter"><a href="https://twitter.com/intent/tweet?screen_name=teamcoderyte">@teamcoderyte</a></li>
						<li class="facebook"><a href="https://facebook.com/teamcoderyte">TeamCoderyte</a></li>
					</ul>
				<hr>
			<h3>Course Schedule</h3>
			<p>September 13th - 6th December, 2014 <br> Saturdays Only <br>Class: 9:00am - 3:30pm. <br></p>
						<hr>
						<h3>Course Fee</h3>
						<p>The tuition fee for this twelve 12 week web development training is GHS 900. <br>Flexible fee payment plans available</p>
	<h3>Payment Plans</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Plan #1</th>
				<th>Plan #2</th>
				<th>Plan #3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>50% initial deposit before the course starts and students have four weeks to finish paying off the other half.</td>
				<td>Students who pay the full fees before the course starts automatically receive a discount of 10%.</td>
				<td>If none of the above payment options favor you, let us know ASAP.</td>
			</tr>
		</tbody>
	</table>
		</div>
	</div>
	
</div>